################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FuncstructorLibrary/bin/Debug
/FuncstructorLibrary/obj/Debug
/FuncstructorLibraryTests/bin/Debug
/FuncstructorLibraryTests/obj/Debug
